.toy-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    > ul {
        list-style: none;
        padding: 0;

        .toy-il {
            margin: 10px;
            display: inline-block;
        }
    }
}
