.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    em {
        font-style: italic;
        font-weight: bold;
    }

    .intro {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
    }

    .description {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
    }

    .features {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
    }

    .collectors {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
    }

    .adventure {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
    }
}
