.toy-item{
    background-color: rgba(255, 0, 0, 0.333);
    width: 250px;
    padding: 10px;
    border-radius: 7px;
}

.btns-toy *{
    background-color: transparent;
    border: none;
    cursor: pointer;

}